[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"fabric-2.0.0" = {git = "http://github.com/fabric/fabric.git@v2"}
click = "*"
"jinja2" = "*"
jupyter = "*"
pandas = "*"
"boto3" = "*"
diskimage-builder = "*"
ansible = "*"
invoke = "*"
tqdm = "*"
seaborn = "*"
matplotlib = "*"


[dev-packages]

bpython = "*"


[requires]

python_version = "3.6"
